*{
    margin: 0;
    padding: 0;
}

body{

}

header{
    justify-content: center;
    display: flex;
    background-color: rgb(110, 110, 173);
    padding: 8px;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: rgb(110, 110, 173);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.btn-conteiner{
    display: flex;
    justify-content: center;
}

.btn-adicionar{
    border: none;
    background-color: rgb(143, 143, 226);
    border-radius: 3px;
    height: 30px;
    width: 80px;
    position: absolute;
    bottom: 70px;
}

.btn-adicionar:hover{
    background-color: rgb(191, 191, 221);
    transition: 0.1 ease;
    box-shadow: 1px 1px 10px white ;
}

.footer-display{
    position: absolute;
    bottom: 0 ;
    width: 100%;
}