* {
    margin: 0;
    padding: 0;
}

header {
    justify-content: center;
    display: flex;
    background-color: rgb(110, 110, 173);
    padding: 8px;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.btn-conteiner {
    display: flex;
    justify-content: center;
}

.divAdicionar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: solid black;
}
input{
    width: 350px;
    height: 40px;
    font-size: medium;
}

.listaCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    height: 290px;
    padding: 15px;
    border-radius: 8px;
    background-color: rgb(183, 183, 183);
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
}

label{
    font-size: 20px;
}

.botaoCard{
    font-size: 15px;
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 10px;
}

.botaoCard:hover{
    background-color: rgb(148, 148, 177);
}

.divBotaoCard{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.botaoAdicionar{
    font-size: 15px;
    border: none;
    width: 130px;
    height: 50px;
    border-radius: 10px;
}

.botaoAdicionar:hover{
    background-color: rgb(148, 148, 177);
}

.h2{
    display: flex;
    justify-content: center;
    padding: 20px;
}

